<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GeminiImageModel</key>
	<string>gemini-2.5-flash-image</string>
	<key>NanoBananaAPIKey</key>
	<string>e99712a8f5327b7a88c513c68ad8e471</string>
	<key>NanoBananaCallbackURL</key>
	<string>https://nanobanana-webhook.inkit98713.workers.dev/webhook?token=nb_9fA3kLmQ2ZxR8T7VwP1E
</string>
	<key>NanoBananaResultToken</key>
	<string>nb_9fA3kLmQ2ZxR8T7VwP1E
</string>
	<key>GeminiAPIKey</key>
	<string>AIzaSyAtv_nsoWZsoPhYuXq33Q-KsLAYqZ4ffDg</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
