<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GeminiAPIKey</key>
	<string>AIzaSyDuSLNEx3ihh4R-tS9kPlgBqxynaBQk4XE</string>
	<key>NSCameraUsageDescription</key>
	<string>ステッカー用の写真を撮影するためにカメラを使用します。</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>近くの端末と共有・コラボするためにローカルネットワークを使用します。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>ステッカー用の写真を選ぶためにフォトライブラリを使用します。</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_manki-share._tcp</string>
		<string>_manki-turn._tcp</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>PixelMplus10-Regular.ttf</string>
		<string>PixelMplus10-Bold.ttf</string>
		<string>PixelMplus12-Regular.ttf</string>
		<string>PixelMplus12-Bold.ttf</string>
		<string>PressStart2P-Regular.ttf</string>
		<string>VT323-Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
